{% extends 'samples_manager/base_list.html' %}

{% block modals %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block list_content %}
<div class="ui top attached tabular menu">
    <div id='actions-tab' class="item active" data-tab="actions">Actions</div>
</div>
<div class="ui bottom attached tab segment active" data-tab="actions">
    <div class='ui grid tab-margin'>
        {% block actions %}
        {% endblock %}
    </div>
</div>
<div id='partial-template-container' class='sixteen wide column'>
    <div id='partial-template'>
        {% block partial_template %}
        {% endblock %}
    </div>
</div>
{% endblock %}