{% extends 'samples_manager/base_list.html' %}
{% block list_content %}
<div class="ui top attached tabular menu">
    <div id='actions-tab' class="item active" data-tab="actions">Actions</div>
    <div id='filters-tab' class="item" data-tab="filters">Filters</div>
</div>
<div class="ui bottom attached active tab segment" data-tab="actions">
    <div class='ui grid tab-margin'>
        {% block actions %}
        {% endblock %}
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="filters">
    <div class='ui grid tab-margin'>
        <div class='three wide column'></div>
        <div class='six wide column'>
            <form style='text-align: center; display: block' name='search_form' method='get'
                action='{% url "samples_manager:list_filter" %}'>
                <div class='ui fluid right action icon input'>
                    <input title='Filter' id='search-box' type='text' name='search_box'
                        placeholder='Filter...' filter-value=''>
                    <button title='Filter' class='ui icon green button' id='search-submit'
                        type='submit'><i class='search icon'></i></button>
                </div>
            </form>
        </div>
        <div class='two wide column'>
            <button title='Clear filters' class='ui red button disabled' id='search-clear'>
                <i class='trash icon'></i> Clear</button>
        </div>
        <div class='two wide column'></div>
        <div class='three wide column'></div>
    </div>
</div>
<div id='partial-template-container' class='sixteen wide column'>
    <div id='partial-template'>
        {% block partial_template %}
        {% endblock %}
    </div>
</div>
{% endblock %}