<div class='three wide column update-elements-per-page'>
    <select name='results-per-page' class='allowed-dropdown ui dropdown elements-per-page'>
        <option value=''>elements per page</option>
        <option value='5'>5</option>
        <option value='10'>10</option>
        <option value='20'>20</option>
        <option value='50'>50</option>
        <option value='100'>100</option>
        <option value='all'>All</option>
    </select>
</div>