{% extends 'samples_manager/base_details.html' %}
{% load static %}
{% load custom_filters %}

{% block breadcrumb %}
<a class='section' href='{% url "samples_manager:index" %}'>Home</a>
<div class='divider'> / </div>
<a class='section' href='{% url "samples_manager:experiments_list" %}'>Experiments</a>
<div class='divider'> / </div>
<div class='active section'>Details {{experiment.title}}</div>
{% endblock %}

{% block partial_template %}
<div class='ui two column grid'>
    <div class='column'>
        <div class='ui segment'>
            <div class='ui divided selection list'>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Title
                    </div>
                    {{experiment.title}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Description
                    </div>
                    {{experiment.description}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        CERN experiment/Projects
                    </div>
                    {{experiment.cern_experiment}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Availability
                    </div>
                    {{experiment.availability}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Constraints
                    </div>
                    {{experiment.constraints}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Number of declared samples
                    </div>
                    {{experiment.number_samples}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Number of registered samples
                    </div>
                    {{experiment.number_registered_samples}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Radiation Length Occupancy
                    </div>
                    {{experiment.radiation_length_occupancy|num_notation:'3d'}}%
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Nuclear Collision Occupancy
                    </div>
                    {{experiment.nu_coll_length_occupancy|num_notation:'3d'}}%
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Nuclear Interaction Occupancy
                    </div>
                    {{experiment.nu_int_length_occupancy|num_notation:'3d'}}%
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Responsible person
                    </div>
                    {{experiment.responsible.email}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Irradiation type
                    </div>
                    {{experiment.irradiation_type}}
                </div>
            </div>
        </div>
    </div>
    <div class='column'>
        <div class='ui segment'>
            <div class='ui divided selection list'>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Category
                    </div>
                    {{experiment.category}}
                </div>
                {%if experiment.category == 'Passive Standard' %}
                <div class='item'>
                    <div class='ui horizontal label'>
                        Irradiation area:
                    </div>
                    {%if category_object.irradiation_area_5x5 == True %}
                    5x5 mm²
                    {% endif %}
                    {%if category_object.irradiation_area_10x10 == True %}
                    10x10 mm²
                    {% endif %}
                    {%if category_object.irradiation_area_20x20 == True %}
                    20x20 mm²
                    {% endif %}
                </div>
                {% elif experiment.category == 'Active' %}
                <div class='item'>
                    <div class='ui horizontal label'>
                        Type:
                    </div>
                    {{category_object.active_category_type}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Irradiation area:
                    </div>
                    {{category_object.active_irradiation_area}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Modus operandi:
                    </div>
                    {{category_object.active_modus_operandi}}
                </div>
                {% else %}
                <div class='item'>
                    <div class='ui horizontal label'>
                        Type
                    </div>
                    {{category_object.passive_category_type}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Irradiation area
                    </div>
                    {{category_object.passive_irradiation_area}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Modus operandi
                    </div>
                    {{category_object.passive_modus_operandi}}
                </div>
                {% endif %}
                <div class='item'>
                    <div class='ui horizontal label'>
                        Fluences
                    </div>
                    {% for fluence in requested_fluences %}
                    {{fluence.req_fluence|num_notation:'4e'}} {{experiment.irradiation_type}}/cm<sup>2</sup>
                    {% endfor %}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Types of samples
                    </div>
                    {% for material in materials %}
                    {{ material.material}}
                    {% endfor %}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Dosimetry results
                    </div>
                    <br>
                    {% for fluence in fluences %}
                    {{fluence.Sample}} with dosimeter {{fluence.Fluence_data.height|num_notation:'4d'}}×{{fluence.Fluence_data.width|num_notation:'4d'}}
                    mm<sup>2</sup>: {{fluence.Fluence_data.estimated_fluence|num_notation:'4e'}}
                    {{experiment.irradiation_type}}/cm<sup>2</sup> ;
                    <br>
                    {% endfor %}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Created at
                    </div>
                    {{experiment.created_at}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Updated at
                    </div>
                    {{experiment.updated_at}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Created by
                    </div>
                    {{experiment.created_by}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Updated by
                    </div>
                    {{experiment.updated_by}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Public
                    </div>
                    {{experiment.public_experiment}}
                </div>
                <div class='item'>
                    <div class='ui horizontal label'>
                        Additional comments
                    </div>
                    {{experiment.comments}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}