{% if forloop.first %}
<thead>
    <tr>
        {% for field in form.visible_fields %}
        <th>
            {{ field.label|capfirst }}
            {% if field.field.required %}
            <span class='required'> *</span>
            {% endif %}
            {% if field.help_text %}
            <i class='info circle icon info-popup' data-html="{{ field.help_text }}" data-variation="wide"></i>
            {% endif %}
        </th>
        {% endfor %}
    </tr>
</thead>
{% endif %}