{% extends 'samples_manager/base.html' %}
{% block content %}
<div class='ui center aligned raised segment'>
    <p>We are sorry, you don't have permission to access this content. <i class='frown outline icon'></i></p>
</div>
{% endblock %}