{% load static %}
{% load widget_tweaks %}

<form method='post' action='{{ form_tag_action }}'
    class='ui form js-submit-user-form js-user-{{ form_action|lower }}-form'>
    {% csrf_token %}
    <div class='ui center aligned segment container'>
        <div class='ui centered header'>
            <h3>{{ form_action }} User</h3>
            <p class='required form-description-area'>* required field</p>
        </div>
        {% for field in form %}
        {% include 'samples_manager/form_field.html' %}
        {% endfor %}
        <div class='two ui buttons actions'>
            <button type='button' class='ui deny medium button'>Cancel</button>
            <button type='submit' class='ui positive medium button submit'>Submit</button>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        activateSearchSelectFields();
    });
</script>