{% load static %}
{% if pagination_data.double_pagination %}
<div id='partial-template-pagination-top'>
    {% include 'samples_manager/pagination.html' %}
</div>
{% endif %}
<div id='partial-template-table'>
    <table class='ui center aligned sortable celled table' id='data-table'>
        <thead>
            <tr>
                <th class='sorttable_nosort'><input name='select_all' value='1' id='all-checkbox'
                    type='checkbox' /></th>
                <th>Item Type</th>
                <th>Item ID</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td><input type='checkbox' class='checkbox' name='checks[]'
                    value='{{ item.id }}'></td>
                <td>{{ item.type }}</td>
                <td><a href='{{item.url}}'>{{item.id}}</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan='8' class='text-center bg-warning'>No items</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id='partial-template-pagination-bottom'>
    {% include 'samples_manager/pagination.html' %}
</div>
<script type='text/javascript' src='{% static "js/checkboxes.js" %}'></script>
