{% load static %}
{% load custom_filters %}
<div id='partial-template-pagination-top'>
    {% include 'samples_manager/pagination.html' %}
</div>
<div id='partial-template-table'>
    <table class='ui center aligned sortable celled table very compact striped' id='data-table'>
        <thead>
            <tr>
                <th class='sorttable_nosort'><input name='select_all' value='1' id='all-checkbox'
                    type='checkbox' /></th>
                <th>User</th>
                <th>SET</th>
                <th>Dosimeter</th>
                <th>Dimensions (mm<sup>2</sup>)</th>
                <th>Date In</th>
                <th>Date Out</th>
                <th>IRRAD table</th>
                <th>Table position</th>
                <th>SEC</th>
                <th>Accumulated fluence</th>
                <th>Error(%)</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td><input type='checkbox' class='checkbox'  id='dosimeter-{{dosimeter.id}}' name='checks[]'
                    value='{{dosimeter.id}}'></td>
                <td>{{ result.sample.experiment.responsible.name}} {{result.sample.experiment.responsible.surname}}</td>
                <td>{{ result.sample.set_id}}</td>
                <td>{{ result.dosimeter.dos_id }}</td>
                <td>{{ result.dosimeter.width|num_notation:'4d'}} × {{ result.dosimeter.height|num_notation:'4d'}} </td>
                <td>{{ result.date_in|date:"d/m/Y"}} {{ result.date_in|time:"H:i"}}</td>
                <td>{{ result.date_out|date:"d/m/Y"}} {{ result.date_out|time:"H:i"}}</td>
                <td>{{ result.irrad_table }}</td>
                <td> {{ result.table_position }}</td>
                <td> {{ result.sec|num_notation:'4e'}}</td>
                <td> {{ result.estimated_fluence|num_notation:'4e' }}</td>
                <td> {{ result.fluence_error|num_notation:'2d' }}</td>
                <td> {{ result.comments }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan='10'>There are no results</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id='partial-template-pagination-bottom'>
    {% include 'samples_manager/pagination.html' %}
</div>
<script type='text/javascript' src='{% static "js/checkboxes.js" %}'></script>
