<form method='post' action='{% url "samples_manager:dosimeter_write_infoream" %}'
    class='ui form js-submit-dosimeter-form'>
    {% csrf_token %}
    <div class='ui center aligned segment container'>
        <div class='ui centered header'>
            <h3>Confirm write to inforEAM</h3>
        </div>
        <p>Are you sure you want to perform this action? It is irreversible.</p>
        {% include 'samples_manager/form_collapsible_text.html' %}
        <div class='two ui buttons actions'>
            <button type='button' class='ui deny medium button'>Cancel</button>
            <button type='submit' class='ui positive medium button submit'>Confirm</button>
        </div>
    </div>
</form>