<form method='post' action='{% url "samples_manager:box_item_remove" box.id %}'
    class='ui form js-submit-box-item-form js-box-item-remove-form'>
    {% csrf_token %}
    <div class='ui center aligned segment container'>
        <div class='ui centered header'>
            <h3>Confirm item removal</h3>
        </div>
        <p>Are you sure you want to perform this action? It is irreversible.</p>
        {% include 'samples_manager/form_collapsible_text.html' %}
        <div class='two ui buttons actions'>
            <button type='button' class='ui deny medium button'>Cancel</button>
            <button type='submit' class='ui negative medium button submit'>Remove</button>
        </div>
    </div>
</form>