{% load static %}
{% load widget_tweaks %}
<form method='post' data-url='{% url "samples_manager:irradiations_list" %}'
    action='{{ form_tag_action }}' class='ui form js-submit-irradiation-form js-irradiation-{{ form_action|lower }}-form'>
    {% csrf_token %}
    <div class='ui center aligned segment container'>
        <div class='ui centered header'>
            <h3>{{ form_action }} Irradiation</h3>
            <p class='required form-description-area'>* required field</p>
        </div>
        {% for error in form.non_field_errors %}
        <span class='ui basic red label'>{{ error }}</span><br><br>
        {% endfor %}
        {% for field in form %}
        {% include 'samples_manager/form_field.html' %}
        {% endfor %}
        <div class='two ui buttons actions'>
            <button type='button' class='ui deny medium button'>Cancel</button>
            <button type='submit' class='ui positive medium button submit'>Save</button>
        </div>
    </div>
</form>
<script type='text/javascript' src='{% static "js/jquery.datetimepicker.full.min.js" %}'></script>
<script>
    $(function () {
        jQuery('#id_date_in').datetimepicker();
        jQuery('#id_date_out').datetimepicker();
    });
    activateSearchSelectFields();
    activatePopups();
</script>