{% extends 'samples_manager/base_all_tab_list.html' %}
{% load static %}

{% block modals %}
<div class='ui modal' id='modal-user'>
    <i class='close icon'></i>
    <div class='content modal-content'>
    </div>
</div>
{% endblock %}

{% block breadcrumb %}
<a class='section' href='{% url "samples_manager:index" %}'>Home</a>
<div class='divider'> / </div>
<div class='section'>Users</div>
{% endblock %}

{% block actions %}
<div class='two wide column'>
    <button type='button' class='ui blue tiny button action-button js-load-user-form' 
        id='user-create' title='Create user'
        data-url='{% url "samples_manager:user_create" %}'>
        <i class='plus icon'></i>Create
    </button>
</div>
<div class='two wide column'>
    <button type='button' class='ui tiny button action-button js-load-user-form single-action' 
        id='user-update' title='Update user'
        data-url='{% url "samples_manager:user_update" %}'>
        <i class='pencil icon'></i>Update
    </button>
</div>
<div class='two wide column'>
    <button type='button' class='ui red tiny button action-button js-load-user-form group-action' 
        id='user-delete' title='Delete user'
        data-url='{% url "samples_manager:user_delete" %}'>
        <i class='trash icon'></i>Delete
    </button>
</div>
{% endblock %}

{% block partial_template %}
{% include 'samples_manager/partial_users_list.html' %}
{% endblock %}

{% block javascript %}
<script type='text/javascript' src='{% static "js/users.js" %}'></script>
{% endblock %}